*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title{
    background-color: #fca311;
    border-radius: 5px;
}
#punch{
    font-size: 40px;
}
#heading-menu{
    margin-top: 90px;
    text-align: center;
}
#menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 10px;
}
#item{
    display: flex;
    width: 500px;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}
#item:hover{
    border: 1px solid #706e6e;
    border-radius: 20px;
    background-color: #fca311;
}
